<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/15b8c46c-7325-491a-9cae-92b100a73c8b/resourceGroups/Shop-Backend_group/providers/Microsoft.Web/sites/shop-aspnet</ResourceId>
    <ResourceGroup>Shop-Backend_group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://shop-aspnet.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://shop-aspnet.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$shop-aspnet</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>